[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plotscaper"]
	path = plotscaper
	url = https://github.com/bartonicek/plotscaper
